/.claude
/.venv
/.venv-1
/2.png
/checkpoints_v2
/comparaciones.ipynb
/data
/documentacion_proceso.txt
/ffmpeg.exe
/frames
/frames_720p
/node_modules
/output
/outputtemp
/package-lock.json
/package.json
/plot.png
/plot1.png
/pruebaaa.ipynb
/pruebaht.py
/pruebas
/pruebas color.py
/pruebas.ipynb
/pruebas.py
/resultados
/results
/TFM MUIA Hector Valverde seguimiento 1.docx
/TFM_Completo.docx
/TFM_MUIA_Hector_Valverde_seguimiento_1_ampliado.docx
/TFM_MUIA_Resultados_Comparativa.docx
/video
/video_clip
/__pycache__